.container {
    border: 1px solid grey;
    display: flex;
    justify-content: space-evenly;
}

.button {
    padding: 15px 25px;
    background-color: lightblue;
    color: purple;
    border:none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;

}