.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: beige;
    border: 2px solid #ccc;
    gap: 10px;
    padding: 10px;
    height: 200px;
}

.box {
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box:nth-child(2) {
    background-color: rgba(160, 66, 66, 0.676);
}

.box:nth-child(5) {
    background-color: rgba(66, 160, 82, 0.676);
}