.container {
    display: flex;
    border: 2px solid;
    gap: 10px;
    position: relative;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    position: relative;
    background-color: orange;
    z-index: 5;
}